/* CSS declarations go here */
body {
  background-color: #05C1FF;
}

.login-form {
  width: 250px;
}

.login-title {
  padding-left: 5%;
}

.login-input {
  margin-left: 10%;
}

#login-button{
  margin-left: 71%;
  margin-top: 2%;
}

.post-outerbox {
  border: 1px solid #05C1FF;
  /*width: 350px;*/
  height: 400px;
  word-wrap: break-word;
  overflow: hidden;
  display: inline-block;
  position: relative;
  background-color: white;
/*  float: none;*/
  /*margin-right: */
  /*margin-bottom: 0.1%*/
}

.post-outerbox:hover {
  -moz-box-shadow: 0 0 20px #ccc;
  -webkit-box-shadow: 0 0 20px #ccc;
  box-shadow: 0 0 10px black;
  z-index: 2;
}
.post-innerbox {
  width: 96%;
  /*height: ;*/
  /*border: 1px solid black;*/
  height: 88%;
  width: 96%;
  margin-left: 2%;
  margin-top: 2%;
}

.post-username {
  /*border: 1px solid black;*/
  height: 30px;
  position: absolute;
  bottom: 0;
  margin: 1%;
  padding: 1%;
  width: 96%;
  background-color: #FDE2A9;
}

.col-centered {
  display: inline-block;
  float: none;
  text-align: left;
  margin-right: -4px;
}
