/* CSS declarations go here */
body {
  background-color: #05C1FF;
}

.post-outerbox {
  border: 1px solid black;
  /*width: 350px;*/
  height: 400px;
  word-wrap: break-word;
  overflow: hidden;
  display: inline-block;
  position: relative;
  background-color: white;
/*  float: none;*/
  margin-right: -2.4%;
  margin-left: 2.4%;
}
.post-innerbox {
  width: 96%;
  /*height: ;*/
  /*border: 1px solid black;*/
  height: 88%;
  width: 96%;
  margin-left: 2%;
  margin-top: 2%;
}

.post-username {
  /*border: 1px solid black;*/
  height: 30px;
  position: absolute;
  bottom: 0;
  margin: 1%;
  padding: 1%;
  width: 96%;
  background-color: #FDE2A9;
}

.col-centered {
      display: inline-block;
    float: none;
    text-align: left;
    margin-right: -4px;
}
